<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>User Management</title>
    <link rel="stylesheet" href="/dojo/gridx/resources/claro/Gridx.css"/>
    <link rel="stylesheet" href="/dojo/dijit/themes/claro/claro.css" />
    <link rel="stylesheet" href="/demoshiro/css/common.css"/>
</head>
<body class="claro">
<div data-dojo-type="dijit/layout/ContentPane" id="userGridContainer"></div>
</body>
<!--load dojo-->
<script type="text/javascript" src="/dojo/dojo/dojo.js"
        data-dojo-config="async: true, isDebug: true, parseOnLoad: true"></script>
<script>
    require([
        "dojo/parser", "dojo/_base/declare", "dijit/_WidgetBase", "dijit/_Container", "dijit/form/Button",
        'dojo/store/Memory',
        'dojo/request',
        'gridx/Grid',
        'gridx/core/model/cache/Sync',
//        'gridx/tests/support/data/MusicData',
        'dijit/form/TimeTextBox',
        'dijit/form/CheckBox',
        'gridx/modules/ColumnLock',
        'gridx/modules/extendedSelect/Cell',
        'gridx/modules/RowHeader',
        'gridx/modules/select/Row',
        'gridx/modules/IndirectSelect',
        'gridx/modules/CellWidget',
        'gridx/modules/Edit',
        'gridx/modules/filter/FilterBar',
        'gridx/modules/Filter',
        "dojo/domReady!"
    ], function (parser, declare, _WidgetBase, _Container, Button, MemoryStore, request, Grid) {
//        parser.parse();

        addNew = function () {
            userGrid.store.add({
                id: idcnt ++
            });
        }

        saveData = function () {
            console.log(JSON.stringify(userGrid.store));
            var postData = JSON.stringify(userGrid.store.data);
            var url = 'user/edit'
            request.post(url,{
                data: {
                    "data" : postData
                }
            });
        }
        
        deleteData = function () {
            console.log("delete");
        }
        //test data
        var data = {
            identifier: "nickname",
            label: "nickname",
            items: []
        }
        data.items = [{"nickname":"nnn",
            "email":"eee",
            "createTime":"20121111",
            "lastLoginTime":"20121212",
            "status":"2"}
//            ,
//            {"nickname":"nnn",
//            "email":"eee",
//            "createTime":"20121111",
//            "lastLoginTime":"20121212",
//            "status":"3"},
//            {"nickname":"nnn",
//        "email":"eee",
//        "createTime":"20121111",
//        "lastLoginTime":"20121212",
//        "status":"1"}
 ];

        var store = new MemoryStore({data:data});

        var layout = [
            {id: 'nickname', field: 'nickname', name: 'Nick Name', width: '100px', editable: true},
            {id: 'email', field: 'email', name: 'Email', width: '100px', editable: true},
            {id: 'createTime', field: 'createTime', name: 'Create Time', width: '100px', editable: true},
            {id: 'lastLoginTime', field: 'lastLoginTime', name: 'Last Login Time', width: '100px', editable: true},
            {id: 'status', field: 'status', name: 'Status', width: '100px', editable: true}
        ];
        var MyToolbar = declare([_WidgetBase, _Container], {});
        var toolbar = new MyToolbar();
        toolbar.addChild(new Button({label: "Add", onClick: addNew}));
        toolbar.addChild(new Button({label: "Delete", onClick: deleteData}));
        toolbar.addChild(new Button({label: "Save", onClick: saveData}));
        toolbar.placeAt("userGridContainer");

        userGrid = new Grid({
            id : 'userGrid',
            style: 'width: 800px; height: 500px;',
            cacheClass: "gridx/core/model/cache/Sync",
            store: store,
            structure: layout,
            barTop: toolbar,
            modules: [
                {
                    moduleClass: 'gridx/modules/ColumnLock',
                    count: 2
                },
                'gridx/modules/extendedSelect/Cell',
                'gridx/modules/select/Row',
                'gridx/modules/RowHeader',
                'gridx/modules/IndirectSelect',
                'gridx/modules/CellWidget',
                'gridx/modules/Edit',
                'gridx/modules/filter/FilterBar',
                'gridx/modules/Filter'
            ]
        });
        userGrid.placeAt('userGridContainer');
        userGrid.startup();
        var idcnt = 10000;


    });
</script>

</html>