<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>User Management</title>
    <link rel="stylesheet" href="/dojo/dijit/themes/claro/claro.css" />
    <link rel="stylesheet" href="/dojo/gridx/resources/claro/Gridx.css"/>
    <link rel="stylesheet" href="/demoshiro/css/common.css"/>
    <!--<link rel="stylesheet" href="/dojo/dojo/resources/dojo.css"/>-->
</head>
<body class="claro">
<div data-dojo-type="dijit/layout/ContentPane" id="queryPanel">
    <div data-dojo-type="dijit/form/Form" id="queryForm">
        <label for="nickname">Name:</label><input type="text" id="nickname" name="nickname" required="true" data-dojo-type="dijit/form/TextBox"/>
        <label for="email">Email:</label><input type="text" id="email" name="email" required="true" data-dojo-type="dijit/form/TextBox"/>
        <button data-dojo-type="dijit/form/Button" type="button" onClick="queryData">Get Values from form!</button>
    </div>
</div>
<div data-dojo-type="dijit/layout/ContentPane" id="userGridContainer"></div>
</body>
<!--load dojo-->
<script type="text/javascript" src="/dojo/dojo/dojo.js"
data-dojo-config="async: true, isDebug: true, parseOnLoad: true"></script>
<script>
    dojoConfig = {
        locale: 'cn'
    }
</script>
<!--<script type="text/javascript" src="/dojo/dojo/dojo.js"></script>-->
<script type="text/javascript" src="/demoshiro/js/common.js"></script>


<script>
    require([
        "dojo/parser", "dojo/_base/declare", "dijit/_WidgetBase", "dijit/_Container",
        "dijit/form/Button",
        'dijit/form/TextBox',
        'dijit/form/ComboBox',
        'dijit/form/CheckBox',
        'dijit/form/DateTextBox',
        'dijit/form/_DateTimeTextBox',
        'dijit/form/TimeTextBox',
        'dojo/store/Memory',
        'dojo/request',
        'dojo/dom-form',
        'gridx/Grid',
        'dojo/date/locale',
        'gridx/allModules',
        "dojo/domReady!"
    ], function (parser, declare, _WidgetBase, _Container, Button, TextBox,
                 ComboBox, CheckBox, DateTextBox, DateTimeTextBox, TimeTextBox, MemoryStore, request, form, Grid, locale) {
//        parser.parse();

        queryData = function () {
            var formJson = form.toJson("queryForm");
            console.log(formJson);
            var url = 'user/query';
            var queryCondition = [];
            queryCondition.push({"columnName":"nickname", "columnValue":formJson.nickname, "dataType": "String", "conditionType": "equal"})
            queryCondition.push({"columnName":"email", "columnValue":formJson.email, "dataType": "String", "conditionType": "like"})
            request.post(url, {
                data: {
                    'queryData' : formJson
                },
                handleAs: 'json',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                }
            }).then(function (data) {
                console.log(data);
                console.log(data.result);
//                userGrid.body.destroy();
//                userGrid.model.store.setData(data.result);
                userGrid.model.clearCache();
                userGrid.model.store.setData(data.result);
                userGrid.body.refresh();

            });
        }

        addNew = function () {
            userGrid.store.add({
                id: idcnt ++
            });
        }

        saveData = function () {
            console.log(JSON.stringify(userGrid.store));
            var postData = JSON.stringify(userGrid.store.data);
            var url = 'user/edit'
            request.post(url,{
                data: {
                    "data" : postData
                }
            });
        }
        
        
        deleteData = function () {
            console.log("delete");
        }
        //test data
        var data = {
            identifier: "id",
            label: "id",
            items: []
        }
//        data.items = [{"id":15,"nickname":"nnn","email":"eee","pswd":null,"createTime":1507046400000,"lastLoginTime":1507046400000,"status":2}];
//        data.items = [
//            ,
//            {"nickname":"nnn",
//            "email":"eee",
//            "createTime":"20121111",
//            "lastLoginTime":"20121212",
//            "status":"3"},
//            {"nickname":"nnn",
//        "email":"eee",
//        "createTime":"20121111",
//        "lastLoginTime":"20121212",
//        "status":"1"}
// ];

        var store = new MemoryStore({data:data});

        var layout = [
            {id: 'lastLoginTime', field: 'lastLoginTime', name: 'Last Login Time', width: '130px', editable: true,
                dataType: 'datetime',
                storePattern: 'yyyy-MM-dd hh:mm:ss',
                gridPattern: 'yyyy-MM-dd hh:mm:ss',
//                formatter: 'yyyy--MM--dd hh:mm:ss',
//                formatter: testA,

                editor:DateTextBox,
                editorArgs: {
                    props:'required:false, constraints:{selector:"date", datePattern:"yyyy/MM/dd hh:mm:ss"}',
//                    seems no need to format parse to string date here
                    fromEditor: function (d) {
                        return formatDatetime(d);
                    },
                    toEditor: function (storeData, gridData) {
//                        return formatDatetime(storeData);
                        return parseDatetime(storeData);
                    }
                }
//                ,
//                formatter: function(rawData){return getDateStrFromDBDateStr(rawData.lastLoginTime, 'yyyy-MM-dd hh:mm:ss')}
            },
            {id: 'createTime', field: 'createTime', name: 'Create Time', width: '120px', editable: false,
                dataType: 'datetime',
                editor: DateTextBox
            },
            {id: 'id', field: 'id', name: 'User Id', width: '100px', editable: false},
            {id: 'nickname', field: 'nickname', name: 'Nick Name', width: '100px', editable: true},
            {id: 'email', field: 'email', name: 'Email', width: '100px', editable: true},
            {id: 'status', field: 'status', name: 'Status', width: '100px', editable: true}
        ];
        var MyToolbar = declare([_WidgetBase, _Container], {});
        var toolbar = new MyToolbar();
        toolbar.addChild(new Button({label: "Add", onClick: addNew}));
        toolbar.addChild(new Button({label: "Delete", onClick: deleteData}));
        toolbar.addChild(new Button({label: "Save", onClick: saveData}));
        toolbar.placeAt("userGridContainer");

        userGrid = new Grid({
            id : 'userGrid',
            style: 'width: 800px; height: 500px;',
            cacheClass: "gridx/core/model/cache/Sync",
            store: store,
            structure: layout,
            barTop: toolbar,
            modules: [
//                {
//                    moduleClass: 'gridx/modules/ColumnLock',
//                    count: 2
//                },
//                'gridx/modules/extendedSelect/Cell',
//                'gridx/modules/select/Row',
//                'gridx/modules/RowHeader',
//                'gridx/modules/IndirectSelect',
                'gridx/modules/CellWidget',
                'gridx/modules/Edit',
                'gridx/modules/filter/FilterBar',
                'gridx/modules/Filter'
            ]
        });
        userGrid.placeAt('userGridContainer');
        userGrid.startup();
        var idcnt = 10000;


    });
</script>

</html>